{{> navbar user}}
<div class="container">
    <div class="row">
        <div class="col-md">
            <U>
                <h1 class="about">About Us</h1>
                <h2> </h2>
            </U>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <fieldset>
                <p class="about-text">
                    Unleash is the best pet job site out there! We help find jobs for your pet! We have helped pets
                    from all
                    different variates.
                    <br>
                    Form dogs, cats, birds, and even Ferrets!
                    <br>
                    Here at Unleash, we are dedicated to finding the
                    perfect job for your pet. You can see some success stories.
                    <br>
                    If you are looking for pets to hire you can post jobs up for new pets to come to apply!
                    <br>
                    Create your profile and don't forget to join our Flamingle Community!
                    <br>
                    Please consider following our social media pages.
                    <br>
                <p>
            </fieldset>
        </div>
    </div>
</div>