{{> navbar user}}
<div class="container-fluid padding-bottom ">
    <div class="row extra-margin am-row">
        <div class="col-md-4">
            <img class="about-img extra-margin" src="/graphics/aboutmeimg.png">
        </div>
        <div class="col-md-8 am-col extra-margin">
            <h1 class="extra-margin">About Us</h1>
            <p class="about-text">
                Unleash is the best pet job site out there! We help find jobs for your pet!
                We have helped pets from all different variates.
                From dogs, cats, birds, and even Ferrets!
                Here at Unleash, we are dedicated to finding the perfect job for your pet.
                See our home page for success stories.
            </p>
            <p class="about-text">
                If you are looking for pets to hire you can post jobs up for new pets to come to apply.
                Create your profile and don't forget to join our Flamingle Community!
                Where you can create post with other friends.
                Please consider following our social media!
            <p>
                <a href="/signup" class="btn btn-block about-btn-text text-center">Sign Up Here!</a>
        </div>
    </div>
</div>