{{> navbar user}}

<div class="container bottom-padding">

    <div class="row">
        <div class="col-md">
            <div class="page-top-margin">
                <form class="update-profile ">
                    <fieldset>
                        <h4>Manage Your Profile</h4>
                        <p>Click <a href="/jobs">here</a> to skip if you are an employer</p>
                        <p>
                            Fill out the form below to create your pet's profile. This profile is what employers will
                            see when you apply for a job.</p>
                        </p>
                        <div class="form-group">
                            <label for="pet-name">Pet Name</label>
                            <input type="text" class="form-control" id="pet-name" name="petName"
                                placeholder="Enter Your Pet's Name">
                        </div>

                        <div class="form-group">
                            <label for="pet-name">Pet Bio</label>
                            <input type="text" class="form-control" id="pet-bio" name="petBio"
                                placeholder="Enter a short bio for your pet">
                        </div>

                        <div class="form-row">
                            <div class="form-group col">
                                <label for="animal-type">Animal Type</label>
                                <input class="form-control" id="animal-type" name="animalType"
                                    placeholder="What type of animal is your pet."></input>
                            </div>

                            <div class="form-group col">
                                <label for="animal-breed">Animal Breed</label>
                                <input class="form-control" id="animal-breed" name="animalBreed"
                                    placeholder="What is your pet's breed?"></input>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col">
                                <label for="age">Age</label>
                                <input class="form-control" id="age" name="age"
                                    placeholder="How old is your pet?"></input>
                            </div>
                            <div class="form-group col">
                                <label for="gender">Gender</label>
                                <input class="form-control" id="gender" name="gender"
                                    placeholder="What is your pet's gender?"></input>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="personality">Personality</label>
                            <input class="form-control" id="personality" name="personality"
                                placeholder="Describe your pet's personality."></input>
                        </div>
                        <div class="form-group">
                            <label for="qualifications">Koalafications</label>
                            <input class="form-control" id="qualifications" name="qualifications"
                                placeholder="What are your pet's koalafications and skills?"></input>
                        </div>

                        <div class="form-group">
                            <label for="social-link">Link Your Pet's Social Media</label>
                            <input class="form-control" id="facebook-link" name="facebook"
                                placeholder="Facebook Profile Link"></input>
                            <br>
                            <input class="form-control" id="twitter-link" name="twitter"
                                placeholder="Twitter Profile Link"></input>
                            <br>
                            <input class="form-control" id="instagram-link" name="instagram"
                                placeholder="Instagram Profile Link"></input>
                        </div>

                        <div>
                            <h4>Select Your Profile Avatar</h4>

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="thumbnail avatar">
                                        <button class="avatar-img" data-avatar="/graphics/dog.png">
                                            <img src="/graphics/dog.png" alt="dog avatar" style="width:100%">
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="thumbnail avatar">
                                        <button class="avatar-img" data-avatar="/graphics/ferret.png">
                                            <img src="/graphics/ferret.png" alt="ferret avatar" style="width:100%">
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="thumbnail avatar">
                                        <button class="avatar-img" data-avatar="/graphics/seal.png">
                                            <img src="/graphics/seal.png" alt="seal avatar" style="width:100%">
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="thumbnail avatar">
                                        <button class="avatar-img" data-avatar="/graphics/bird.png">
                                            <img src="/graphics/bird.png" alt="bird avatar" style="width:100%">
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="thumbnail avatar">
                                        <button class="avatar-img" data-avatar="/graphics/lizard.png">
                                            <img src="/graphics/lizard.png" alt="lizard avatar" style="width:100%">
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="thumbnail avatar">
                                        <button class="avatar-img" data-avatar="/graphics/cow.png">
                                            <img src="/graphics/cow.png" alt="cow avatar" style="width:100%">
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="thumbnail avatar">
                                        <button class="avatar-img" data-avatar="/graphics/cat.png">
                                            <img src="/graphics/cat.png" alt="cat avatar" style="width:100%">
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="thumbnail avatar">
                                        <button class="avatar-img" data-avatar="/graphics/fish.png">
                                            <img src="/graphics/fish.png" alt="fish avatar" style="width:100%">
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <h4>Owner Information</h4>
                        </div>
                        <div class="form-row">
                            <div class="form-group col">
                                <label for="owner-name">Name</label>
                                <input class="form-control" id="owner-name" name="ownerName"
                                    placeholder="Enter your name."></input>
                            </div>
                            <div class="form-group col">
                                <label for="owner-email">Email</label>
                                <input class="form-control" id="owner-email" name="ownerEmail"
                                    placeholder="Enter your name."></input>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary">Update Profile</button>
                    </fieldset>
                </form>
            </div>
            <br />
        </div>
    </div>
</div>



<script>


    $(document).ready(function () {
        // Getting references to our form and inputs
        const updateProfile = $("form.update-profile");
        const petName = $("input#pet-name");
        const petBio = $("input#pet-bio")
        const animalType = $("input#animal-type");
        const animalBreed = $("input#animal-breed");
        const age = $("input#age");
        const gender = $("input#gender");
        const personality = $("input#personality");
        const qualifications = $("input#qualifications");
        const facebook = $("input#facebook-link");
        const twitter = $("input#twitter-link");
        const instagram = $("input#instagram-link");
        const ownerName = $("input#owner-name");
        const ownerEmail = $("input#owner-email");
        const avatarBtn = $("button.avatar-img");
        let userAvatar = "/graphics/ferret.png";

        avatarBtn.on("click", function (event) {
            event.preventDefault();

            const avatarImg = $(this).attr("data-avatar")
            userAvatar = avatarImg;
        });



        // When the form is submitted, we validate there's a title and body entered
        updateProfile.on("submit", function (event) {
            event.preventDefault();

            let postData = {
                petName: petName.val().trim(),
                petBio: petBio.val().trim(),
                animalType: animalType.val().trim(),
                animalBreed: animalBreed.val().trim(),
                age: age.val().trim(),
                gender: gender.val().trim(),
                personality: personality.val().trim(),
                qualifications: qualifications.val().trim(),
                facebook: facebook.val().trim(),
                twitter: twitter.val().trim(),
                instagram: instagram.val().trim(),
                ownerName: ownerName.val().trim(),
                ownerEmail: ownerEmail.val().trim(),
                avatar: userAvatar

            };
            console.log(postData)

            if (!postData.petName || !postData.animalType || !postData.animalBreed || !postData.age || !postData.gender || !postData.personality || !postData.qualifications || !postData.facebook || !postData.twitter || !postData.instagram || !postData.ownerName || !postData.ownerEmail) {
                return;
            }


            // If we have a title and password  we run the sendPost function and clear the form
            sendPost(postData);
            petName.val("");
            petBio.val("");
            animalType.val("");
            animalBreed.val("");
            age.val("");
            gender.val("");
            personality.val("");
            qualifications.val("");
            facebook.val("");
            twitter.val("");
            instagram.val("");
            ownerName.val("");
            ownerEmail.val("");

        });

        // sendPost does a post to our "api/profile" route and if successful, redirects us the the jobs page
        function sendPost(postData) {
            $.post("/api/profile", postData)
                .then(function () {
                    window.location.replace("/profile");
                    // If there's an error, log the error
                })
                .catch(function (err) {
                    console.log(err);
                });
        }
    });
</script>