form.signup,
form.login {
  margin-top: 50px;
}

.forum-post-card {
  width: 100%;
}

.forum-post {
  width: 100%;
}

footer {
  text-align: center;
  background-color: black;
}

.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.Absolute-Center.is-Responsive {
  width: 50%; 
  height: 50%;
  min-width: 200px;
  max-width: 400px;
  padding: 40px;
}

#logo-container{
  margin: auto;
  margin-bottom: 10px;
  width:200px;
  height:30px;
  background-image:url('/public/graphics/unleashlogo.png');
}

.extra-margin {
  margin-top: 10px;
}

.profile-fab {
  color: teal
}

.footer-fab {
  color:white 
}

.profile-text {
  font-size: 15pt;
}
.owner-info {
  background-color: #9fd7cd;
  padding: 20px;
  border-radius: 25px;
  max-width: 450px;
}

.avatar {
  border-radius: 50%;
  padding: 10px;
  width: 300px;
  height: 300px;
}

.page-top-margin{
  margin-top: 50px;
}

.form-group {
  max-width: 800px;
}


#dog {
  text-align: center;
  width: 360px;
  height: 253px;
}


#home {
  padding: 20px
}

.home-btn {
  background-color: #9fd7cd;
  padding: 18px;
  padding-top: 28px;
  border-radius: 15px;
  max-width: 950px;
  margin-bottom: 10px;
  
}

.btn:hover{
  background:#01796F;

}

.bottom-margin {
  margin-bottom: 20px;
}


.mid-page {
    background-color: rgb(237, 237, 237);
    padding: 30px;
}

.flamingle{ 
	background-image: url("/graphics/flaminglehero.png"); 
	background-size: cover; 
  background-repeat: no-repeat; 
  margin-top: 20px;
} 

.hero-text {
  color: white;
  font-size: 38pt;
  font-weight: bolder;
}

.flamingle-text {
  color: white;
  font-size: 15pt;
}

.flamingle-btn {
  background-color:#9fd7cd;
  padding: 18px;
  padding-top: 28px;
  border-radius: 15px;
  max-width: 450px;
  margin-bottom: 10px;
}

.flamingle-btn:hover{
  background:#c5ebe4;

}

.padding-bottom {
  padding-bottom: 100px;
}

/* .avatar {
  max-width: 200px;
  max-height: 200px;
} */

.login-card {
  margin: auto; 
}

.login-div {
  padding-top: 100px;
}

.signup-card {
  margin: auto;
}

.signup-div {
  padding-top: 100px;
}

.login-btn, 
.signup-btn,
.jobpost-btn,
.apply-btn,
.view-post-btn,
.forum-post-btn,
.profile-btn,
.about-btn-text {
    color: white;
    background-color: #01796F;
    padding: 18px; 
    border-radius: 15px;
    max-width: 450px;
    margin-bottom: 10px;
}

.login-btn:hover, 
.signup-btn:hover,
.jobpost-btn:hover,
.apply-btn:hover,
.view-post-btn:hover,
.forum-post-btn:hover,
.profile-btn:hover,
.about-btn-text:hover {
  background:#9fd7cd;

}

.job-post-jumbo {
  background-image: url("/graphics/jobpostbanner.png"); 
	background-size: cover; 
  background-repeat: no-repeat; 
  margin-top: 20px;
}

.find-job-jumbotron {
  background-image: url("/graphics/findjobbanner.png"); 
	background-size: cover; 
  background-repeat: no-repeat; 
  margin-top: 20px;
}

.job-post-card, .forum-post-card {
  background-color: #e2e2e2;
}

.job-post-text, 
.furriend-text {
  color: #01796F;
  font-weight: 1200;
}

.see-post-jumbotron {
  background-image: url("/graphics/seepostbanner.png"); 
	background-size: cover; 
  background-repeat: no-repeat; 
  margin-top: 20px;
}

.match {
  font-weight: 900;
}

.error-jumbo {
  background-image: url("/graphics/errorbanner.png"); 
	background-size: cover; 
  background-repeat: no-repeat; 
  margin-top: 20px;
}

.error-text {
  padding-bottom: 125px;
}

.footer {
  background-color: #01796F;
  padding: 20px;
}

.manage-jumbo {
  background-image: url("/graphics/manageprofilebanner.png"); 
	background-size: cover; 
  background-repeat: no-repeat; 
  margin-top: 20px;
}

.avatar-btn {
  padding: 10px;
}

.avatar-btn:hover {
  background:#9fd7cd
}

.applicant-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  padding: 20px;
  text-align: center;
  float: left;
  margin-right: 20px;
}

.applicant-bio {
  color: grey;
  font-size: 18px;
}

.applicant-btn {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  width: 100%;
  font-size: 18px;
}

.a-icon {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.about-img {
  padding: 10px;
  max-width: 400px;
  max-height: 400px;
}

.am-row {
  padding-left: 100px;
}

.am-col {
  padding-right: 100px;
}

.about-btn-text {
  font-size: 18px;
}

.mobile-img {
  margin: auto;
}

.mobile-container {
  padding-top: 100px;
  margin: auto
}
