form.signup,
form.login {
  margin-top: 50px;
}

.forum-post-card {
  width: 100%;
}

.forum-post {
  width: 100%;
}

footer {
  text-align: center;
  background-color: black;
}

.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.Absolute-Center.is-Responsive {
  width: 50%; 
  height: 50%;
  min-width: 200px;
  max-width: 400px;
  padding: 40px;
}

#logo-container{
  margin: auto;
  margin-bottom: 10px;
  width:200px;
  height:30px;
  background-image:url('/public/graphics/unleashlogo.png');
}

.extra-margin {
  margin-top: 10px;
}

.fab {
  color: teal
}

.owner-info {
  background-color: #9fd7cd;
  padding: 20px;
  border-radius: 25px;
  max-width: 450px;
}

.avatar {
  border-radius: 50%;
  
  padding: 20px;
  width: 250px;
  height: 250px;
}

.page-top-margin{
  margin-top: 50px;
}

.form-group {
  max-width: 800px;
}


#dog {
  text-align: center;
  width: 360px;
  height: 253px;
}


#home {
  padding: 20px
}

.home-btn {
  background-color: #9fd7cd;
  padding: 18px;
  padding-top: 28px;
  border-radius: 15px;
  max-width: 950px;
  margin-bottom: 10px;
  
}

.btn:hover{
  background:#01796F;

}

.bottom-margin {
  margin-bottom: 20px;
}


.mid-page {
    background-color: rgb(237, 237, 237);
    padding: 30px;
}

.flamingle{ 
	background-image: url("/graphics/flaminglehero.png"); 
	background-size: cover; 
  background-repeat: no-repeat; 
  margin-top: 20px;
} 

.hero-text {
  color: white;
  font-size: 38pt;
  font-weight: bolder;
}

.flamingle-text {
  color: white;
  font-size: 15pt;
}

.flamingle-btn {
  background-color:#9fd7cd;
  padding: 18px;
  padding-top: 28px;
  border-radius: 15px;
  max-width: 450px;
  margin-bottom: 10px;
}

.flamingle-btn:hover{
  background:#c5ebe4;

}

.padding-bottom {
  padding-bottom: 100px;
}

.avatar {
  max-width: 200px;
  max-height: 200px;
}